@import "tailwindcss";
@theme {
  /* Fonts */
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  
  /* Colors */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
}